trunk/project/giving-batch/conf/wsdl/fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-.--><xs:schema version="1.0" targetNamespace="http://www.virginmoney.com/type/glis/faults/2008/01" xmlns:tns="http://www.virginmoney.com/type/glis/faults/2008/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GlisServiceFaultException" nillable="true" type="tns:GlisServiceFault"/>
  <xs:complexType name="ErrorMessage">
    <xs:sequence>
      <xs:element name="ErrorField" type="xs:string" form="qualified"/>
      <xs:element name="ErrorMessageKey" type="xs:string" form="qualified"/>
      <xs:element name="ErrorDefaultMessage" type="xs:string" form="qualified"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorList">
    <xs:sequence>
      <xs:element name="errors" type="tns:ErrorMessage" form="qualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GlisServiceFault">
    <xs:sequence>
      <xs:element name="message" type="xs:string" form="qualified"/>
      <xs:element name="exceptionMessage" type="xs:string" form="qualified"/>
      <xs:element name="faultInfo" type="xs:string" form="qualified"/>
      <xs:element name="errorList" type="tns:ErrorMessage" form="qualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>