trunk/project/giving-batch/conf/wsdl/header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-.--><xs:schema version="1.0" targetNamespace="http://www.virginmoney.com/type/glis/header/2008/09" xmlns:tns="http://www.virginmoney.com/type/glis/header/2008/09" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageHeader" nillable="true" type="tns:MessageHeader"/>
  <xs:complexType name="MessageHeader">
    <xs:sequence>
      <xs:element name="SourceSystemId" type="xs:string" form="qualified"/>
      <xs:element name="SourceSubSystemId" type="xs:token" form="qualified" minOccurs="0"/>
      <xs:element name="BrandReference" type="xs:token" form="qualified" minOccurs="0"/>
      <xs:element name="SystemTransactionID" type="xs:string" form="qualified"/>
      <xs:element name="IPAddress" type="xs:token" form="qualified"/>
      <xs:element name="SessionID" type="xs:token" form="qualified"/>
      <xs:element name="UserName" type="xs:string" form="qualified"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>